
$font-main: 'Montserrat', sans-serif;

$color-pinkdark: #FDACAC;
$color-black: #635D5D;
$color-blackhover: #bbbaba;
$color-pinklight: #FFDADA;
$color-greenlight: #BFEBE3;
$color-white: #FEFEFE;
$color-bluelight:#D9F0FF;
$color-blue:#bae2fc;
$color-green: #a1f2e3;