.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
  transition: background 0.3s ease-in-out;
}
.header.scrolled {
  background: white;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 150px;
}
.header__container.scrolledHeaderContainer {
  min-height: 12vh;
}

.menu__button {
  padding-left: 170px;
}
.menu__button img {
  width: 46px;
}
.header__logo img {
  max-width: 86px;
  width: 100%;
  vertical-align: baseline;
  height: 43px;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 20px;
}
.menu__link {
  color: $color-black;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}
.menu__link:hover {
  color: $color-blackhover;
}
.language {
  font-weight: 900;
  color: $color-black;
}
.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 15px;
  min-width: 33px;
  z-index: 1000;
}
.menu__sub-list li {
  margin: 0px 0px 10px 0px;
}
.menu__sub-list li:last-child {
  margin: 0;
}
.menu__sub-link {
  color: #fff;
  text-decoration: none;
  font-size: 800;
  font-size: 13px;
}
.menu__sub-link:hover {
  font-weight: 800;
}
.menu__arrow {
  // display: none;
}
/* ----------------------- */
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

body._touch .menu__list > li {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
body._touch .menu__link {
  flex: 1 1 auto;
}
body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 20px 0px 0px 0px;
  transition: transform 0.3s ease 0s;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
  margin: 15px 0px 0px 21px;
  padding: 0px 0px 0px 0px;
}

body._touch .menu__list > li._active .menu__arrow {
  margin: 20px 0px 0px 0px;
  transform: rotate(-180deg);
}

/* ----------------------- */
@media (min-width: 743px) {
  .menu__list {
    display: flex;
    align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }

  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    background: #3919af;
    margin: 0px 0px 0px 0px;
    text-align: center;
  }
  .menu__sub-list li {
    width: 16px;
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
  }

  .menu__sub-link {
    color: #ffffff;
  }

  .menu__sub-link:hover {
    font-weight: 800;
  }
}

@media (max-width: 743px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -120%;
    width: 90%;
    height: 100%;
    background-color: rgba(57, 25, 175, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #3919af;
    z-index: 2;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 20px;
  }
  .menu__sub-list {
    position: relative;
    // background-color: #fff;
    // flex: 1 1 100%;
    margin: -5px 0px 0px 0px;
    display: none;
  }
  .menu__sub-link {
    font-size: 22px;
    color: white;
  }
}
