.overlay {
    opacity: 0;
    visibility: hidden;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 20;
    transition: .3s all;
}

.modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 1100px;
    min-height: 1050px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30; 
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, 0.2); 
    text-align: center;
    padding: 30px;
    border-radius: 12px;
    background-color: $color-white;
    transition: 0.3s all;
 }
 
 
 .modal.active,
 .overlay.active{
    opacity: 1;
    visibility: visible;
 }
 
 
 
 .modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: $color-black;
    cursor: pointer;
 }
 
.modal__title {
color: $color-black;
font-family: 'Manrope', sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 20px;
color:$color-black;
}

.modal__text {
    color: $color-black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    }

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 350px;
    width: 100%;
    min-height: 150px;

}


// _______________________________________________

.alert {
    
    width: 1000px;
    -webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: transparent;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
-webkit-font-smoothing: antialiased;
box-sizing: content-box;
font-family: 'TildaSans',Arial,sans-serif!important;
margin-bottom: 16px;
border: 1px solid transparent;
border-radius: 4px;
color: #818182;
background-color: #fefefe;
border-color: #fdfdfe;
padding: 48px!important;
}

.row {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    font-family: 'TildaSans',Arial,sans-serif!important;
    color: #212529;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 16px!important;
}

.col {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'TildaSans',Arial,sans-serif!important;
    color: #212529;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    box-sizing: border-box;
}


    @media screen and (min-width: 360px) and (max-width: 743px) {
    .modal {
        max-width: 250px;
    }

    .modal__title {
        font-size: 20px;
    }
    
    .modal__text {
        font-size: 16px;
    }
    }