.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 220px 0 260px;
  & hr {
    max-width: 285px;
    margin: 0 auto;
    background: $color-black;
    height: 2px;
    border: none;
  }
  &__title {
    text-align: center;
    margin-bottom: 40px;
  }
  &__cards {
    margin: 100px 0 125px;
    display: flex;
    justify-content: center;
    gap: 86px;
  }
  &__button {
    display: flex;
    justify-content: center;
    & button {
      max-width: 387px;
      width: 100%;
      background: $color-pinklight;
    }
  }
}

.payment__aside {
  position: absolute;
  left: 1px;
}

.payment__aside-span {
  position: relative;
}
.payment__card {
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 30px;
  transition: 0.4s ease;
  &:hover {
    transform: translateY(-4px);
  }
  &:nth-child(1) {
    background: linear-gradient(180deg, #ffdada 0%, #fff 100%);
  }
  &:nth-child(2) {
    background: linear-gradient(180deg, #d9f0ff 0%, #fff 100%);
  }
  &:nth-child(3) {
    background: linear-gradient(180deg, #bfebe3 0%, #fff 100%);
  }
  & h3 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  & hr {
    width: 45px;
    background: $color-black;
    height: 2px;
    border: none;
  }
  & p {
    max-width: 228px;
    align-self: start;
    &:nth-child(4) {
      font-size: 18px;
      font-weight: 500;
      line-height: 150%;
    }
    &:nth-child(5) {
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
