.text {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 150%;
color: $color-black;
}

.endnote {
font-family: 'Montserrat';
font-style: italic;
font-weight: 500;
font-size: 20px;
line-height: 150%;
letter-spacing: 0.1em;
color: $color-black;
}