h1 {
  font-size: 42px;
  text-transform: uppercase;
  color: $color-black;
}

h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 133%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-black;
}

h3 {
  font-size: 24px;
  font-style: normal;
  color: $color-black;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0.1em;
}
