.tv {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 2326px;
}

.tv__aside {
    position: absolute;
    left: -46px;
 }

 .tv__aside-span {
    position: relative;
 }

 .tv__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    max-inline-size: 1262px;
    margin-inline: auto;
    min-block-size: 100vh;
    min-block-size: 100dvh;

 }


//  @media (min-width: 960px) {
//    .tv__wrapper {
//       align-items: center;
//       grid-template-columns: 1fr 1fr;
//       gap: 4rem;
//     }
//   }



 .tv__text-block, .tv__body .tv__fem  {
    display: flex;  
    flex-direction: row;  
    position: relative;    
 }

 .tv__text-block {
    margin: 220px 0px 150px 0px;
    width: 1260px;
    height: 520px;
 }

 .tv__marker-box {
    width: 129px;
    height: 520px;
 }

 .tv__marker_blue {
    width: 40px;
    height: 520px;
    background-color: $color-bluelight;
 }

 .tv__text-wrap {
    width: 1100px;
    height: 520px;
 }

 .tv__title {
    width: 530px;
    
 }

 .tv__hr-title {
    width: 130px;
    margin: 40px 0px;
    color: $color-black;
    background-color: $color-black;
    height: 2px;
    border: none;
 }
.tv__text {
    margin-bottom: 44px;
}

.tv__hr-endnote {
    width: 100px;
    margin: 0px 0px 31px 0px;
    color: $color-black;
    background-color: $color-black;
    height: 1px;
    border: none;
}


.tv__body, .tv__fem {
    position: relative;
    width: 1262px;
    height: 454px;
  }

  .tv__body {
     margin-bottom: 75px;
  }

  .tv__fem {
    margin-bottom: 125px;
 }
  .card-tv {
   display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 644px;
    height: 425px;
    background: linear-gradient(180deg, #FFDADA 0%, #D9F0FF 100%);
  }


  .tv__video-body, .tv__video-fem {
    position: absolute;
    top: 57px;
    right: 0px;
    width: 669px;
    height: 425px;
    z-index: 2;
  }


  .tv__hr-1 {
    color: $color-black;
    background-color: $color-black;
    height: 2px;
    width: 45px;
    margin: 0px 0px 4px 30px;
    border: none;
  }

  .tv__hr-2 {
    color: $color-black;
    background-color: $color-black;
    height: 2px;
    width: 45px;
    margin: 4px 0px 25px 30px;
    border: none;
  }

  .tv__card-title {
    margin: 0px 0px 0px 30px;
  }

  .tv__card-text {
    width: 530px;
    min-height: 260px;
    margin: 0px 0px 0px 30px;
  }

  .video-tv::-webkit-media-controls-panel {
   background-image: linear-gradient(to bottom, #00000000, #5c53a1);
 }

 .tv__button {
    width: 665px;
    margin: 0 auto;
    background-color: $color-pinkdark;
 }

 .tv__button:hover {
   background-color:$color-pinklight;
 }