.words {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 453.33px;
  background: linear-gradient(180deg, #d9f0ff 7.29%, #ffdada 100%);
  margin: 0 auto;
}

.words__wrapper { 
font-weight: 500;
font-size: 24px;
line-height: 150%;
text-align: center;
letter-spacing: 0.1em;
color: $color-black;
}

.words__circle_left {
  position: absolute;
  left: 0;
top: 0;
}

.words__circle_right {
  position: absolute;
  right: 0;
bottom: 0;
}